@if(ViewBag.ErrorTitle == null)
{
    //.... Show General Error ...
    <h3 class="text-danger">
        An Error occured while processing request
    </h3>
    <br>
    <h5 class="text-danger">Please contact us on HarshadgChavan@yahoo.com</h5>
    <br>
}
else
{
    //.... Show General Error ...
    <h3 class="text-danger">
        @ViewBag.ErrorTitle
    </h3>
    <br>
    if(ViewBag.ErrorDescription == null)
    {
        <h5 class="text-danger">Please contact us on HarshadgChavan@yahoo.com</h5>
    }
    else
    {
        <h5 class="text-danger"> @ViewBag.ErrorDescription </h5>
    }
    <br>
}



@* <h3>Exception Details :</h3>
<div class="alert alert-danger">
    <h3>Exception Path</h3>
    <hr/>
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h3>Exception Message</h3>
    <hr/>
    <p>@ViewBag.ExceptionMesage</p>
</div>

<div class="alert alert-danger">
    <h3>Exception Stack Trace</h3>
    <hr/>
    <p>@ViewBag.ExceptionStacktrace</p>
</div> *@



                