@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService;

@{
    ViewBag.Title ="All Roles";
}

<h1> Roles </h1>

@if(Model.Any())
{
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary" style="width:auto;">
            Create Role
        </a>
        
    @*  --- In Case if we have any roles avaialble -- *@
    @foreach (var itemRole in Model)
    {
         
        <div class="card">
            <div class="card-header">
                  Role Id : @itemRole.Id
            </div>
            <div class="card-body">
                    <h4 class="card-title">@itemRole.Name</h4>
            </div>
            <div class="card-footer">
                   
                    <form method="POST" asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@itemRole.Id">
                         
                    @if( (await authorizationService.AuthorizeAsync(User,"EditRolePolicy")).Succeeded )
                    {
                         <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@itemRole.Id" 
                            class="btn btn-primary">Edit</a>
                    }
                        
                        <span id="confirmDeleteion_@itemRole.Id" style="display: none;">
                        <span> Do you want to delete ?</span>
                            <button class="btn btn-danger" style="width: auto;"  
                            type="submit" >Yes</button>
                            <a href="#" onclick="confirmDelete('@itemRole.Id',false)" class="btn btn-primary" >No</a>
                        </span>

                        <span id="deleteSpan_@itemRole.Id">
                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@itemRole.Id',true)">Delete</a>
                        </span>

                    </form>

            </div>
        </div>

    }
}
else
{
  @* --- Dispaly No Roles message --- *@
  <div class="card">
    <div class="card-header">
        No roles created yet
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create a role .
        </h5>
        <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary" style="width:auto;">
            Create Role
        </a>
    </div>
  </div>

}

@section Scripts{
    <script src="../js/CustomScript.js"></script>
}
