@model List<ManageUserRolesViewModel>

@{
    ViewBag.Title ="Manage User Roles";
    var UserID = ViewBag.UserID;
}

<form method="POST">
    <div class="card">
        <div class="card-header">
            <h2>Add or Remove Roles for User</h2>
        </div>
    </div>
    <div class="card-body">
       
     @for (int i = 0; i < Model.Count; i++)
        {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model[i].roleId">
                <input type="hidden" asp-for="@Model[i].roleName">
               <input asp-for="@Model[i].isSelected" class="form-check-input">
                <label class="for-check-label" asp-for="@Model[i].isSelected" >
                    @Model[i].roleName
                </label>
           </div>
        } 

    </div>
    <div class="card-footer">
        <input value="Update" type="submit" class="btn btn-primary" style="width: auto;"/>
        <a asp-action="EditUser" asp-asp-controller="Administration" asp-route-id="@UserID" class="btn btn-primary" style="width: auto;" >Cancel</a>
    </div>

</form>
